{# twig template #}
{% extends 'base.html.twig' %}

{% block page_title %}{{ 'Contact Clean Gutter Co' }}{% endblock %}
{% block page_meta_description %}{{ 'How to contact Clean Gutter Company.' }}{% endblock %}

{% block page_content %}

    {% embed 'layouts/right-sidebar.html.twig' %}

        {% block layout_page_title %}
            {{ 'Need To Contact A Gutter Cleaner?' }}
        {% endblock %}

        {% block layout_main_content %}
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <a href="tel:1-{{ company_phone | replace({'(': '', ') ': '-'})}}">
                            <i class="fas fa-phone fa-2x text-danger"></i><div class="d-inline-block align-middle">&nbsp;{{ '(478) 216-1140' }}</div>
                        </a>
                    </div>

                    <div class="col-6">
                        <a href="mailto:{{ company_email }}">
                            <i class="fas fa-envelope fa-2x text-danger"></i>
                            &nbsp;{{ company_email }}</a>
                    </div>
                </div>

                <div class="w-100 mb-3"></div>

                <iframe class="mt-3" id="google-map-embed" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80113.936116061!2d-83.77153605314619!3d32.61627579367654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f3efc55066884d%3A0x791214dbd77cdc1!2sClean+Gutter+Co!5e0!3m2!1sen!2sus!4v1556409228107!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" ></iframe>

            </div>

        {% endblock %}

        {% block layout_sbr %}
            {% include 'components/forms/quote-request.html.twig' %}
            <div class="w-100 mb-3"></div>
            {% include 'components/testimonials.html.twig' %}
        {% endblock %}

    {% endembed %}

{% endblock %}