{% extends 'base.html.twig' %}

{% block page_title %}Clean Gutter Co | Login{% endblock %}

{% block page_content %}

    {% embed 'layouts/single-col-center.html.twig' %}

        {% block layout_main_content %}

            <div class="col-sm-6 col-lg-8 m-auto">
                <form id="user-login" class="needs-validation" action="{{ absolute_url(path('login')) }}" method="POST" novalidate>

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="alert d-none" role="alert"></div>

                    <div class="form-row my-2 input-group">
                        <label for="uuid" class="sr-only">Username</label>
                        <input type="text" class="form-control" id="uuid" name="uuid" value="{{ last_username }}" placeholder="john_doe@gmail.com" required autofocus>
                        <div class="valid-feedback">
                            Ok.
                        </div>
                        <div class="invalid-feedback">
                            Please provide your username.
                        </div>
                    </div>

                    <div class="form-row my-2 input-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="password" name="password" value="{{ last_username }}" placeholder="Password" required>
                        <div class="valid-feedback">
                            Ok.
                        </div>
                        <div class="invalid-feedback">
                            Please provide your username.
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button type="submit" class="btn btn-primary mt-3">Submit
                        <span class="spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                    </button>
                </form>

            </div>

        {% endblock %}

    {% endembed %}

{% endblock %}
