{# twig template #}
{# QUOTE FORM #}
<div class="col-12">
    <div class="card">
        <h5 class="card-header text-center">{{ 'Get Your Free Quote' }}</h5>
        <div class="card-body">
            <p class="card-title">We are ready to clean your gutters!</p>

            {# QUOTE FORM CONTAINER #}
            <div class="">
                <form id="free-quote" class="needs-validation" data-url="{{ absolute_url(path('quotes')) }}" data-method="POST" novalidate>
                    {# TODO: Convert to vue element for reactive-data binding #}
                    <div class="alert d-none" role="alert"></div>

                    <div class="form-row my-2 input-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required>
                        <div class="valid-feedback">
                            Ok.
                        </div>
                        <div class="invalid-feedback">
                            Please provide your name.
                        </div>
                    </div>
                    <div class="form-row my-2 input-group">
                        <input type="text" class="form-control" id="email" name="email" placeholder="john_doe@example.com" maxlength="64" pattern=".+@.+.com" required>
                        <div class="valid-feedback">
                            Ok.
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid email address.
                        </div>
                    </div>
                    <div class="form-row my-2 input-group">
                        <input type="text" class="form-control" id="address" name="address" placeholder="555 Mayweather Ln, Warner Robins, GA 31088" required>
                        <div class="valid-feedback">
                            Ok.
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid address.
                        </div>
                    </div>
                    <div class="form-row my-2 input-group">
                        <input type="tel" class="form-control" id="phone" name="phone_number" placeholder="(478) 555-5555" maxlength="10" pattern="^\d{10}$" required>
                        <div class="valid-feedback">
                            Ok.
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid phone number.
                        </div>
                    </div>

                    <button type="submit" class="btn btn-danger mt-3">Get Free Quote
                        <span class="spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                    </button>


                    <img class="d-inline-block float-right mt-2" src="{{ asset('build/images/ssl-secure_70X70.png') }}" style="max-width: 55px; cursor: pointer;" data-toggle="modal" data-target="#sslIconModal" alt="secure site padlock">

                    <div class="modal fade" id="sslIconModal" tabindex="-1" role="dialog" aria-labelledby="sslIconModalTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="sslIconModalTitle">We Don't Take Privacy Lightly.</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>That's why we've invested our energy into making sure your data is protected when you use our website.</p>
                                    <p>We secure our site by encrypting the communications between your browser and our site. This means that anytime you are on our site, the information shared is protected from those snoopy internet bad guys.</p>
                                    <p>We don't sell or disseminate any of your personal information to anyone who does not have a need in the course of doing regular business with Clean Gutter Co. We may share your information with third-party service providers, who provide Clean Gutter Co with critical back-office support, like book-keeping or banking services. However, we only provide what is absolutely necessary to perform the service in question, and we only work with reputable and trustworthy providers.</p>
                                    <p>As you can see, we believe in providing convenient, quality services at great prices, while keeping your safety, security, and experience at the center of our attention.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="token" value="{{ csrf_token('free-quote') }}"/>
                    <input type="hidden" name="form-name" value="{{ 'free-quote' | raw }}"/>

                </form>

            </div>
        </div>

        <div class="card-body d-none">
            <div class="">
                <p>We've received your request and will give you a call in the next 48 hours to schedule your quote. Please expect our call during normal business hours. If you have a more pressing need, please call us at {{ company_phone }}.</p>
            </div>
        </div>
    </div>
</div>