{% extends 'page/home.html.twig' %}

{% set location = app.request.get('location') %}

{% block page_content %}

    {% embed 'layouts/right-sidebar.html.twig' %}

        {% block layout_page_title %}
            {{ 'Looking For A Gutter Cleaner In ' }}{{ location|replace({'-': ' '})|title }}{{ '?' }}
        {% endblock %}

        {% block layout_main_content %}
            <div class="col-12">

                <h2>We're Ready To Take Your Call</h2>

                <p>We clean gutters in Warner Robins, GA. <a class="text-link" href="tel:1-{{ company_phone }}">Give us a call now</a>, and we'll get you scheduled for a free
                inspection and quote. We'll have your gutters working again in no time.</p>

                <div class="mb-3">
                    {% include 'components/image-carousel.html.twig' %}
                </div>

                <p>We clean gutters using a high-powered vacuum and carbon-fiber tubes that allow us to reach gutters up
                to three stories high.</p>

                <p>The end of the vacuum even has a high-def wireless camera, allowing us to see what we're doing while we work.</p>

                <p>We rarely need to use a ladder or get on a roof, and we always take the trash out with us. We want
                    to leave your home better than when we arrived.
                </p>

                {# Call Now #}
                <div class="jumbotron jumbotron-fluid bg-white">
                    <div class="container">
                        <p class="lead">Ready To Get Your Gutters Cleaned?<span class="mr-2 ml-2"></span><a class="btn btn-danger btn-md" href="#" role="button">Call Now</a></p>
                    </div>
                </div>

                {# Checklist #}
                <h2>How Does It Work?</h2>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <p class="display-6 d-inline text-primary">
                            <i class="fa fa-check text-danger"></i>
                            &emsp;Schedule Your Free Quote
                        </p>
                        <p class="mt-2 ml-5">Fill out the short form on this page or call us at <i class="fas fa-phone text-danger"></i>&nbsp;<a class="text-link" href="tel:1-{{ company_phone }}">{{ company_phone | replace({'(': '', ') ': '-'}) }}</a>.</p>
                        <p class="ml-5">If you use our online form, we'll call you to schedule your free quote.</p>
                    </li>
                    <li class="mb-3">
                        <p class="display-6 d-inline text-primary">
                            <i class="fa fa-check text-danger"></i>
                            &emsp;A Pro Will Come to Your Home
                        </p>
                        <p class="mt-2 ml-5">Our gutter pro will come to your home to perform an inspection of your home's gutters, and provide you with a free custom quote. You just need to tell him when to start!</p>
                    </li>
                    <li class="mb-5">
                        <p class="display-6 d-inline text-primary">
                            <i class="fa fa-check text-danger"></i>
                            &emsp;Pay Online or In-Person
                        </p>
                        <p class="mt-2 ml-5">We can accept payments online or right at your front door. We accept all major credit cards, cash, and personal checks.</p>
                        <p class="ml-5">We can also email your invoice containing a link you can use to pay online.</p>
                    </li>
                </ul>

            </div>

        {% endblock %}

        {% block layout_sbr %}
            {% include 'components/forms/quote-request.html.twig' %}
            <div class="w-100 mb-3"></div>
            {% include 'components/testimonials.html.twig' %}
        {% endblock %}

    {% endembed %}

    {% include 'components/modals/vacuum-video.html.twig' %}

{% endblock %}