{# twig template #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('landing-page') }}
{% endblock %}

{% block site_header %}{% endblock %}
{% block site_navbar %}{% endblock %}

{% block page_content %}

    {% embed 'layouts/single-col-center.html.twig' %}

        {# Allow layout to access macros #}
        {% import 'page/page-macros.html.twig' as page_macros %}

        {% block layout_main_content %}
            <div class="row">

                {# Large Text Area#}
                <div class="col-12 col-sm-8 mb-5">
                    <h1 class="display-5 ">
                        {% if template_data.title is defined and (not template_data.title is same as('')) %}
                            {{ template_data.title | e }}
                        {% else %}
                            {{ ' Need A Gutter Cleaner In ' ~ (app.request.attributes.get('location') | replace({"-" : " "}) | title) ~ '?' | e}}
                        {% endif %}
                    </h1>

                    <h2 class="">
                        {% if template_data.subTitle is defined and (not template_data.subTitle is same as('')) %}
                            {{ template_data.subTitle | e }}
                        {% else %}
                            {{  'We are ready to take your call now!' | e }}
                        {% endif %}
                    </h2>
                </div>

                <div class="col-4 d-none d-sm-inline-flex">
                    <a href="{{ url('home') }}"  style="float:right;">
                        {{ page_macros.get_logo("p-3", "max-width: 120px; border-radius: .25rem; background-color:#fff;") }}
                    </a>
                </div>

            </div>

            <div class="row">

                <div class="col-12 mt-5">
                    <ul class="list-unstyled ">
                        <li class="mb-2">
                            <i class="fa fa-check-circle text-warning fa-lg"></i>
                            <span class="ml-3 grow-font-1">{{ 'Free Quotes' }}</span>
                        </li>
                        <li class="mb-2">
                            <i class="fa fa-check-circle text-warning fa-lg"></i>
                            <span class="ml-3 grow-font-1">{{ '' }}</span>
                        </li>
                        <li class="mb-2">
                            <i class="fa fa-check-circle text-warning fa-lg"></i>
                            <span class="ml-3 grow-font-1">{{ 'Local & Professional' }}</span>
                        </li>
                    </ul>
                </div>

                <div class="col-12 mt-5 mb-3">
                    <div class="row">
                        {# Call Now #}
                        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                            <a class="btn btn-danger btn-lg w-100" role="button" href="tel:1-478-216-1140">Call Now</a>
                        </div>

                        {# Learn More #}
                        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mt-3 mt-lg-0">
                            <a class="btn btn-warning btn-lg w-100" role="button" href="#">Learn More</a>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock %}

    {% endembed %}

    {% include 'components/modals/vacuum-video.html.twig' %}

{% endblock %}

{% block site_footer %}

    {# Affiliations #}
    <div class="col-12">
        <div class="row">

            <div class="col-6 col-md-3">
                <a href="#"><img class="img-fluid" src="{{ asset('build/images/PeachRegional-Logo-w300.jpg') }}" alt="Peach County, GA Chamber of Commerce Membership Badge" /></a>
            </div>

            <div class="col-6 col-md-3">
                <a target="_blank" title="Click for the Business Review of Clean Gutter Co, LLC, a Gutter Cleaning in Byron GA" href="https://www.bbb.org/us/ga/byron/profile/gutter-cleaning/clean-gutter-0743-99136#sealclick"><img alt="Click for the BBB Business Review of this Gutter Cleaning in Byron GA" style="border: 0;" src="https://seal-centralgeorgia.bbb.org/seals/blue-seal-160-82-cleanguttercollc-99136.png" /></a>
            </div>

            <div class="col-6 col-md-3">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('landing-page') }}
{% endblock %}