{# twig template #}
<div class="col-12">
    <div class="row footer">

        {# COLUMN LEFT #}
        <div class="col-12 col-md-6 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
            <hr />

            <ul class="footer-nav navbar-nav">

                {% for menu_item in template_data.get('menus').get('footer_menu') %}

                    <li class="nav-item text-left mb-3">
                        <a href="{{ path(menu_item.routeName) }}">{{ menu_item.displayText}}</a>
                    </li>

                {% endfor %}

            </ul>

        </div>

        {# COLUMN MIDDLE #}
        <div class="col-12 col-md-6 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1">

            <!-- Contact details -->
            <h5 class="font-weight-bold text-uppercase mb-4">Contact</h5>
            <hr />
            <ul class="list-unstyled">
                <li class="mb-3">
                    <a target="_blank" jstcache="25" href="https://maps.google.com/maps?ll=32.66749,-83.774481&amp;z=12&amp;t=m&amp;hl=en&amp;gl=US&amp;mapclient=embed&amp;cid=545253647663484353" jsaction="mouseup:placeCard.largerMap">
                        <i class="fas fa-home mr-2 mt-1 pr-3 text-primary float-left"></i><address class="d-inline-block mb-0">233 Long Leaf Trl<br />Byron, GA 31008</address>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="mailto:{{ company_email }}">
                        <i class="fas fa-envelope mr-2 pr-3 mt-1 text-primary"></i>{{ company_email }}
                    </a>
                </li>
                <li class="mb-3">
                    <a href="tel:1-{{ company_phone | replace({'(' : '', ') ': '-'}) }}">
                        <i class="fas fa-phone mr-2 mt-1 pr-3 text-primary"></i>{{ company_phone }}
                    </a>
                </li>
            </ul>

        </div>


        {# COLUMN RIGHT #}
        <div class="col-12 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
            <hr />
            <!-- Facebook -->
            <div class="row mb-3">
                <div class="col-12">
                    <a href="https://www.facebook.com/Clean-Gutter-Co-766713240388712" target="_blank">
                        <i class="fab fa-facebook fa-3x"></i>
                    </a>
                </div>
            </div>

            <!-- Better Business Bureau -->
            <div class="row mb-3">
                <div class="col-12">
                    {% include 'external/better-business-bureau-seal.html.twig' %}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <a href="https://www.peachchamber.com/members/member/clean-gutter-co-840" target="_blank"><img class="img-fluid footer-affiliate-logo" src="{{ asset('build/images/PeachRegional-Logo-w300.jpg') }}" alt="Peach County Regional Chamber of Commerce Membership Seal" /></a>
                </div>
            </div>
        </div>

        <div class="w-100"></div>

        <div class="col-12 bg-gray mx-auto my-md-4 my-0 mt-4 mb-1">
            <p class="text-center text-black w-100 mt-3 shrink-font-1">&#169;&nbsp; 2020 Clean Gutter Co, LLC, All rights reserved.</p>
        </div>
    </div>
</div>