<div class="col-12">
    <nav class="navbar navbar-expand-sm navbar-light sticky-top bg-white px-0 mt-4">

        {# Show logo in mobile navbar #}
        <a class="navbar-brand d-sm-none" href="{{ path('home') }}"><img id="logo" class="img-fluid d-md-none" src="{{ asset('build/images/logo.png') }}" style=" max-width: 80px" alt="person cleaning gutters with vacuum" /></a>

        {# show mobile menu button #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cg-navbar" aria-controls="#cg-navbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="cg-navbar">
            <ul class="navbar-nav">

                {% for menu_item in template_data.get('menus').get('header_menu') %}

                    <li class="nav-item text-left text-sm-center">
                        <a class="nav-link" href="{{ path(menu_item.routeName) }}">{{ menu_item.displayText }}
                            {# add screen-reader indicator to first item #}
                            {# indicator will move to correct position via js on docReady #}
                            {% if loop.index == 0 %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>

                {% endfor %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item nav-item" href="{{ path('contact') }}">Contact Us</a>
                            {#<div class="dropdown-divider"></div>#}
                        {#<a class="dropdown-item" href="#">Something else here</a>#}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>