{# twig template #}
{#TESTIMONIALS#}
<div class="col-12">
    <div class="card testimonial">
        <h5 class="card-header text-primary text-center">Our Reviews</h5>

            <div class="row">
                <div class="card-body">
                    {# USER ICON #}
                    <i class="fas fa-user-circle d-block text-center text-primary fa-5x mt-4"></i>

                    {# Carousel #}
                    <div class="col-12">
                        <div id="cg-review-carousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                            <ol class="carousel-indicators">

                               {# {% for i in 1..(template_data.get('reviews') | length) %}#}
                                    {#<li data-target="#cg-review-carousel" data-slide-to="{{ loop.index }}" class="text-primary {% if loop.first %}{{ 'active' }}{% endif %}"></li>#}
                                {#{% endfor %}#}

                            </ol>

                            <div class="carousel-inner">
                                {% for review in template_data.get('reviews') %}

                                    <div class="carousel-item pt-3 {% if loop.first %}{{ 'active' }}{% endif %}">

                                        <div id="review-rating mt-3" class="text-center">
                                            {% for i in 1..review.reviewScale %}
                                                <i class="fas fa-star {% if loop.index <= review.reviewScore %}{{ 'text-gold' }}{% endif %}"></i>
                                            {% endfor %}
                                        </div>

                                        <blockquote class="blockquote text-left">
                                            <p class="mt-3">{{ review.reviewText }}</p>

                                            <footer class="blockquote-footer text-right">
                                                <a href="{{ review.sourceUrl }}"><span class="text-primary">{{ review.reviewerName }} in</span> {{ review.reviewerLocation }}</a>
                                            </footer>
                                        </blockquote>

                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>